<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assignment 2</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
   
<body>
    <div class="container">
        <h1>Welcome.</h1>
		<form action="/api/visitors" method="POST">
        <div id="nameInput" class="input-group-lg center-block helloInput">
            <p class="lead">Please enter latitude</p>
            <input name="lat" type="text" class="form-control" placeholder="latitude" aria-describedby="sizing-addon1"  />
			
			<button  type="submit" id="check" class="btn btn-lg btn-default" style = "color:black">Submit</button></br>
        </div>
		</form>
        <p id="response">{{ pi }}</p>

    </div>

</body>

</html>
